@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
}

.bg{
    margin-top:0;
}

body{
    background-color:rgb(3, 21, 51);
}    

header{
    display:flex;
    justify-content:space-between;
    
}


.Buttons{
    display:flex;
    justify-content:space-between;

    margin-top: 2rem;
    margin-left: 2rem  ;
    padding: 10px;

    .Content{
        color:rgb(103, 204, 171);
        background-color:rgb(3, 21, 51);
        font-family:'Jersey 10';
        font-size :25px;

        border:1rem;
        border-radius:25px;
        border-style: solid;
        border-color:rgb(3, 21, 51);

        text-decoration: none;
        

        transition: .1s ease;
    }
    .Content:hover{
        scale: 1.2;

        background-color:rgb(13, 36, 76);
        border-color:rgb(13, 36, 76);
        box-shadow:5px 5px 20px rgb(13, 36, 76), -5px -5px 20px rgb(69, 140, 116);
    }
    .Content:active{
        scale: .7;
    }


    .MyWorks{
        color:rgb(103, 204, 171);
        background-color:rgb(3, 21, 51);
        font-family:'Jersey 10';
        font-size :25px;

        border:1rem;
        border-radius:25px;
        border-style: solid;
        border-color:rgb(3, 21, 51);
        
        text-decoration: none;
        margin-left: 4rem ;

        transition: .1s ease;
    }
    .MyWorks:hover{
        scale: 1.2;

        background-color:rgb(13, 36, 76);
        border-color:rgb(13, 36, 76);
        box-shadow:5px 5px 20px rgb(13, 36, 76), -5px -5px 20px rgb(69, 140, 116);
    }
    .MyWorks:active{
        scale: .7;
    }


    .Contact{
        color:rgb(103, 204, 171);
        background-color:rgb(3, 21, 51);
        font-family:'Jersey 10';
        font-size :25px;

        border:1rem;
        border-radius:25px;
        border-style: solid;
        border-color:rgb(3, 21, 51);

        text-decoration: none;
        margin-left:4rem;

        transition: .1s ease;
    }
    .Contact:hover{
        scale: 1.2;

        background-color:rgb(13, 36, 76);
        border-color:rgb(13, 36, 76);
        box-shadow:5px 5px 20px rgb(13, 36, 76), -5px -5px 20px rgb(69, 140, 116);

    }
    .Contact:active{
        scale: .7;
    }
}


.Em1d0Icon{
    width:5rem;
    height:5rem;
    margin-top:1rem;
    margin-right:1rem;

    border:7px;
    border-radius:50%;
    border-color:rgb(13, 36, 76);
    border-style:solid;

    box-shadow: 5px 5px 20px rgb(90, 6, 70), -5px -5px 20px rgb(9, 29, 89);

}


nav{
    border-top-style:solid;
    border-color:rgb(103, 204, 171);
    opacity:20%;
    margin-top:1rem;

    text-align:center;
}


.Info{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    
    
    .MyImage{
        width: 250px;
        height:350px;
        margin-top: 4rem;
        
        border:1rem;
        border-radius:50px;
        border-style:solid;
        border-color:rgb(13, 36, 76);

        box-shadow:0px 0px 50px rgb(13, 36, 76);
    }

    .Emad{
        margin-top: 2rem;
        color:rgb(103, 204, 171);
        font-family:'Jersey 10';
        font-size:3rem;
        text-decoration:none;
    }

    .Align{
        text-align: center;
    }

    .IS{
        color: rgb(69, 140, 116);
        font-family: 'Jersey 10';
        font-size:50px;
        text-decoration: none;

        transition: .1s ease;
    }
    .IS:hover{
        scale: 1.2;
        color: rgb(103, 204, 171);
       
    }
    .IS:active{
        scale: .7;
    }

    .AboutEmad {
        text-align: center;
        max-width: 500px;
        margin-top: 3rem;
        
        border-radius: 25px;
        border: 25px;
        border-style: solid;
        border-color:rgb(13, 36, 76);
        background-color:rgb(13, 36, 76);

        color: rgb(103, 204, 171);
        font-family: 'Jersey 10';
        font-size: 20px;
    }
    .Contacts{
        border: 1rem;
        border-style: solid;
        border-radius:25px;
        border-color:rgb(13, 36, 76);
        background-color: rgb(13, 36, 76);
        margin-top: 10rem;
        max-width: 40rem;

        .MyNumber{
            display:flex;
            margin: 2rem auto;

            color:rgb(103, 204, 171);
            font-family:'Jersey 10';
            font-size:25px;

            .TheNumber{
                color:rgb(255, 0, 255);
                text-decoration:none;
                text-align:center;
                font-size: 50px;

                transition: .1s ease;
            }
            .TheNumber:hover{
                color:rgb(150, 0, 150);
                text-decoration:underline;
            }
            .TheNumber:active{
                scale: .9;
            }
        }
        .MyEmail{
            display:flex;
            margin: 2rem auto;
            
            color:rgb(103, 204, 171);
            font-family:'Jersey 10';
            font-size:25px;

            .TheEmail{
                color:rgb(255, 0, 255);
                text-decoration:none;
                text-align:center;
                font-size: 50px;

                transition: .1s ease;
            }
            .TheEmail:hover{
                color:rgb(150, 0, 150);
                text-decoration:underline;
            }
            .TheEmail:active{
                scale: .9;
            }
        }
    }
}



@media (max-width: 1023px) {
    .Buttons{
        margin-top: 3rem;
        .Content{
            font-size :50px;
        }
        .MyWorks{
            font-size :50px;
        }
        .Contact{
            font-size :50px;

        }
    }
    .Em1d0Icon{
        width:8rem;
        height:8rem;
        margin-top: 2rem;
        margin-right:2rem;
        margin-bottom: 2rem;
    }

    .Info{   
        .MyImage{
            width: 30rem;
            height:40rem;
            margin-top: 10rem;
        }
        .Emad{
            font-size:6rem;
        }
        .Align{
            text-align: center;
        }
        .IS{
            font-size: 5rem;
        }
        .AboutEmad {
            max-width: 50rem;
            font-size: 3rem;
            margin-left: 2.5rem
        }
    }
        
    .MyNumber{
        font-size:2rem;
        .TheNumber{
            font-size: 4rem;
        }
    }
    .MyEmail{
        font-size:2rem;
        margin-top: 8rem;
        .TheEmail{
            font-size: 4rem;
        }
    }
}